@font-face {
  font-family: 'Fira Mono';
  src: url('fonts/firamono-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/fira-sans-v18-latin-regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --measure: 90ch;

  --ratio: 1.5;
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --lavender: #b4befe;
  --blue: #89b4fa;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  font-family: 'Fira Sans', sans-serif;
}

::selection {
  background-color: color-mix(in oklch, var(--overlay2) 30%, transparent);
}

* {
  box-sizing: border-box;
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  background-color: var(--base);
  color: var(--text);
}

a {
  color: var(--blue);
  text-decoration: none;
}

button {
  background-color: var(--surface0);
  color: var(--blue);
  border: 0;
  border-radius: var(--s-2);
  padding-block: var(--s-2);
  padding-inline: var(--s-1);
  font-size: var(--s0);
}

button:hover {
  background-color: color-mix(in oklch, var(--overlay2) 30%, transparent);
  cursor: pointer;
}

fieldset {
  padding: 0;
}

textarea {
  resize: none;
}

form {
  border-block-start-style: solid;
  border-color: var(--overlay0);
  border-width: var(--s-6);
  padding-block-start: var(--s0);
}

input[type="number"],
input[type="password"],
input[type="text"],
textarea {
  background-color: var(--mantle);
  color: var(--text);
  padding-inline: var(--s-1);
  padding-block: var(--s-2);
  border-radius: var(--s-2);
  border-style: solid;
  border-width: var(--s-6);
  font-size: var(--s0);
}

:focus {
  outline: none;
}

input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 0 var(--s-4) var(--lavender);
  border-color: transparent;
}

code {
  font-family: 'Fira Mono', monospace;
  white-space: pre;
}

pre {
  font-family: 'Fira Mono', monospace;
  line-height: 1.3;
}

dt {
  font-family: 'Fira Mono', monospace;
  font-weight: bold;
  color: var(--mauve);
}

ul, dl, pre {
  margin: 0;
}

dd {
  margin-inline-start: var(--s1);
}

ul {
  padding-inline-start: var(--s1);
}

fieldset {
  border: 0;
}

.grace-center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.grace-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grace-stack-large > header > *,
.grace-stack > header > * {
  margin-block: 0;
}

.grace-stack-large > main > *,
.grace-stack > main > * {
  margin-block: 0;
}

.grace-stack-large > *,
.grace-stack > * {
  margin-block: 0;
} 

.grace-stack > * + * {
  margin-block-start: var(--margin, var(--s-2));
}

.grace-stack-large > * + * {
  margin-block-start: var(--margin, var(--s1));
}

.grace-stack-large > * + .grace-ignore,
.grace-stack > * + .grace-ignore {
  margin-block-start: 0;
}

.grace-cluster-start {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

.grace-printable-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-end;
  align-items: flex-start;
}

.grace-input-json {
  font-family: 'Fira Mono', monospace;
}

.grace-output-json {
  font-family: 'Fira Mono', monospace;
}

.grace-output-text > :first-child {
  margin-block-start: 0;
}

.grace-output-text > :last-child {
  /* This margin ensures that the "Print"/"Copy" buttons have enough height */
  margin-block-end: var(--s-4);
}

.grace-printable {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.grace-printable > :last-child {
  flex-grow: 1;
  flex-basis: 10em;
}

.grace-printable > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.grace-print, .grace-copy {
  border-radius: var(--s-3);
  padding-block: var(--s-3);
  padding-inline: var(--s-2);
  font-size: var(--s-1);
}

.grace-tabs {
  --space: 0;
}
.grace-tab-link {
  border-radius: var(--s-2) var(--s-2) 0 0;
  border-inline-style: solid;
  border-block-start-style: solid;
  border-color: transparent;
  border-width: var(--s-6);
  display: inline-block;
  padding-inline: var(--s-1);
  padding-block: var(--s-2);
}

.grace-tab-link:hover {
  border-color: var(--overlay0);
}

.grace-tab-selected {
  border-color: var(--overlay2);
}

.grace-spinner {
  margin: var(--s1);
  width: var(--s3);
  height: var(--s3);
  border-radius: 50%;
  display: inline-block;
  border-top: var(--s-3) solid var(--rosewater);
  border-right: var(--s-3) solid transparent;
  animation: rotation 1s linear infinite;
}

.grace-spinner::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--s3);
  height: var(--s3);
  border-radius: 50%;
  border-left: var(--s-3) solid var(--peach);
  border-bottom: var(--s-3) solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.CodeMirror {
  font-family: 'Fira Mono', monospace;
  height: auto;
  margin-block-start: 0;
  background-color: var(--mantle);
  color: var(--text);
  border-style: solid;
  border-color: var(--overlay2);
  border-width: var(--s-6);
}

.CodeMirror-gutters {
  background: var(--surface0);
}

.CodeMirror-linenumber {
  color: var(--subtext0);
}

.CodeMirror-cursor {
  border-inline-start-style: solid;
  border-inline-start-color: var(--rosewater);
  border-inline-start-width: var(--s-5);
}

.cm-s-default .cm-keyword { color: inherit; }
.cm-s-default .cm-atom { color: var(--red); }
.cm-s-default .cm-number { color: var(--peach); }
.cm-s-default .cm-def { color: inherit; }
.cm-s-default .cm-variable, .cm-variable-2, .cm-variable3 { color: inherit; }
.cm-s-default .cm-punctuation { color: var(--subtext1); }
.cm-s-default .cm-property { color: inherit; }
.cm-s-default .cm-operator { color: inherit; }
.cm-s-default .cm-type { color: inherit; }
.cm-s-default .cm-comment { color: var(--overlay2); }
.cm-s-default .cm-string, .cm-string-2 { color: var(--green); }
.cm-s-default .cm-meta { color: inherit; }
.cm-s-default .cm-qualifier { color: inherit; }
.cm-s-default .cm-builtin { color: inherit; }
.cm-s-default .cm-bracket { color: var(--subtext1); }
.cm-s-default .cm-tag { color: inherit; }
.cm-s-default .cm-attribute { color: inherit; }
.cm-s-default .cm-hr { color: inherit; }
.cm-s-default .cm-link { color: inherit; }
.cm-s-default .cm-error { color: var(--red); }
.cm-s-default .cm-invalidchar { color: var(--red); }

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background-color: color-mix(in oklch, var(--overlay2) 30%, transparent) !important;
}

.CodeMirror-selected {
  background-color: color-mix(in oklch, var(--overlay2) 30%, transparent) !important;
}
