@font-face {
    font-family: 'FiraMono';
    src: url('fonts/firamono-regular-webfont.woff2') format('woff2'),
         url('fonts/firamono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

code {
  font-family: 'FiraMono', monospace;
  white-space: pre;
}

pre {
  font-family: 'FiraMono', monospace;
  line-height: 1.3;
}

.CodeMirror {
  height: auto;
}

.grace-input-json {
  font-family: 'FiraMono', monospace;
}

.grace-output-json {
  font-family: 'FiraMono', monospace;
}

.grace-printable {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.grace-printable > :last-child {
  flex-basis: 20em; 
  flex-grow: 1;
}

.grace-printable > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}
