@font-face {
    font-family: 'Fira Mono';
    src: url('fonts/firamono-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/fira-sans-v18-latin-regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --measure: 90ch;
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  font-family: 'Fira Sans', sans-serif;
}

* {
  box-sizing: border-box;
  max-inline-size: var(--measure);
  margin: 0;
  padding; 0;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

code {
  font-family: 'Fira Mono', monospace;
  white-space: pre;
}

pre {
  font-family: 'Fira Mono', monospace;
  line-height: 1.3;
}

.grace-center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: 90ch;
}

.grace-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grace-stack > * {
  margin-block: 0;
} 

.grace-stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

.grace-cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

.grace-input-json {
  font-family: 'Fira Mono', monospace;
}

.grace-output-json {
  font-family: 'Fira Mono', monospace;
}

.grace-printable {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.grace-printable > :last-child {
  flex-grow: 1;
}

.grace-printable > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.CodeMirror {
  font-family: 'Fira Mono', monospace;
  height: auto;
  margin-block-start: 0;
}
