@font-face {
    font-family: 'Fira Mono';
    src: url('fonts/firamono-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/fira-sans-v18-latin-regular.woff2') format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Fira Sans', sans-serif;
}

code {
  font-family: 'Fira Mono', monospace;
  white-space: pre;
}

pre {
  font-family: 'Fira Mono', monospace;
  line-height: 1.3;
}

.CodeMirror {
  font-family: 'Fira Mono', monospace;
  height: auto;
}

.grace-input-json {
  font-family: 'Fira Mono', monospace;
}

.grace-output-json {
  font-family: 'Fira Mono', monospace;
}

.grace-printable {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.grace-printable > :last-child {
  flex-basis: 20em; 
  flex-grow: 1;
}

.grace-printable > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}
