@font-face {
  font-family: 'Fira Mono';
  src: url('fonts/firamono-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/fira-sans-v18-latin-regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --measure: 90ch;

  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --rosewater: #f5e0dc;
  --peach: #fab387;
  --blue: #89b4fa;
  --text: #cdd6f4;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;

  font-family: 'Fira Sans', sans-serif;
}

::selection {
  background-color: color-mix(in oklch, var(--overlay2) 30%, var(--base));
}

* {
  box-sizing: border-box;
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  background-color: var(--base);
  color: #cdd6f4;
}

a {
  color: var(--blue);
  text-decoration: none;
}

button {
  background-color: var(--surface1);
  color: var(--blue);
  border: 0;
  border-radius: var(--s-2);
  padding-block: var(--s-2);
  padding-inline: var(--s-1);
  font-size: var(--s0);
}

button:hover {
  background-color: color-mix(in oklch, var(--overlay1) 30%, var(--surface1));
  cursor: pointer;
}

fieldset {
  padding: 0;
}

textarea {
  resize: none;
}

code {
  font-family: 'Fira Mono', monospace;
  white-space: pre;
}

pre {
  font-family: 'Fira Mono', monospace;
  line-height: 1.3;
}

dt {
  font-family: 'Fira Mono', monospace;
  font-weight: bold;
}

dd {
  margin-inline-start: var(--s1);
}

ul {
  padding-inline-start: var(--s1);
}

fieldset {
  border: 0;
}

.grace-center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.grace-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grace-stack > header > * {
  margin-block: 0;
}

.grace-stack > main > * {
  margin-block: 0;
}

.grace-stack > * {
  margin-block: 0;
} 

.grace-stack > * + * {
  margin-block-start: var(--s-2);
}

.grace-cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

.grace-input-json {
  font-family: 'Fira Mono', monospace;
}

.grace-output-json {
  font-family: 'Fira Mono', monospace;
}

.grace-output-text > :first-child {
  margin-block-start: 0;
}

.grace-output-text > :last-child {
  /* This margin ensures that the "Print"/"Copy" buttons have enough height */
  margin-block-end: var(--s-4);
}

.grace-printable {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.grace-printable > :last-child {
  flex-grow: 1;
  flex-basis: 10em;
}

.grace-printable > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.grace-print, .grace-copy {
  border-radius: var(--s-3);
  padding-block: var(--s-3);
  padding-inline: var(--s-2);
  font-size: var(--s-1);
}

.grace-spinner {
  width: var(--s3);
  height: var(--s3);
  border-radius: 50%;
  display: inline-block;
  border-top: var(--s-3) solid var(--rosewater);
  border-right: var(--s-3) solid transparent;
  animation: rotation 1s linear infinite;
}

.grace-spinner::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--s3);
  height: var(--s3);
  border-radius: 50%;
  border-left: var(--s-3) solid var(--peach);
  border-bottom: var(--s-3) solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.CodeMirror {
  font-family: 'Fira Mono', monospace;
  height: auto;
  margin-block-start: 0;
  background-color: var(--mantle);
  color: var(--text);
  border-style: solid;
  border-color: var(--overlay0);
  border-width: var(--s-5);
  border-radius: var(--s-2);
}

.CodeMirror-gutters {
  background: var(--surface0);
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: color-mix(in oklch, var(--overlay2) 30%, var(--surface0)) !important;
}

.CodeMirror-selected {
  background: color-mix(in oklch, var(--overlay2) 30%, var(--surface0)) !important;
}
