span {
  white-space: pre;
}

code {
  white-space: pre;
}

#input {
  font-family: monospace;
}

.form-control {
  width: auto;
  display: inline;
}

.btn {
  font-family: monospace;
}

.form-check-label {
  vertical-align: top;
}

dt {
  font-family: monospace;
  border-right: solid;
}
